<!doctype html>
<html lang="es-CL">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/estilos.css' %}">
    <title>Mis Perris-Index</title>
  </head>
  <body>
      <!-- barra de navegacion -->
      <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#6DCCAA">
        <a class="navbar-brand" href="#">
            <img src="{% static '/img/logo.png' %}" alt="" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/formulario">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Unete
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">registrate</a>
                <a class="dropdown-item" href="/login">login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/formulario">formulario perritos</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!--   carusel    -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static '/img/perritobkn.jpeg' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static '/img/Place-Lucky-Lucy-bed-20369.jpg' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static '/img/perro.png' %}" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">siguiente</span>
            </a>
          </div>
          <br>
          <div class="container">
              <div class="row">  
                  <div class="col-md-6">
                    <section class="left">
                        <h2>Rescate</h2>
                        <p class="subtitulo">Etapa Uno</p>
                        <hr>
                        <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.
                        </p>
                        <div class="card" >
                            <img class="card-img-top card-imagen" src="{% static '/img/rescate.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">perrito rescatado</p>
                            </div>
                          </div>
                    </section>
                  </div>
                  <div class="col-md-5">
                      <section class="right">
                          <div class="card" >
                              <img class="card-img-top card-imagen" src="{% static '/img/crowfunding.jpg' %}" alt="Card image cap">
                              <div class="card-body">
            
                              </div>
                            </div>
                          <h2>CROWDFUNDING</h2>
                          <p class="subtitulo">Financiamiento</p>
                          <p>
                            Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.
                          </p>
            
                      </section>
                    </div>
    
              </div>
          </div>
    <br>
    <h2>lista de perritos</h2>
    <ul>
      {% for e in elementos %}
        <li>{{e.nombre}} raza: {{e.raza}} descripcion: {{e.descripcion}} estado: {{e.estado}} <a href="/editar_perrito/{{e.id}}"> editar</a><a href="/eliminar_perrito/{{e.id}}"> eliminar</a></li>
      {%  endfor %}
    </ul>
          

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  
  </body>
</html>