<!doctype html>
<html lang="es-CL">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/estilos.css' %}">
   
    <meta name="theme-color" content="#6DCCAA">
    <link rel="manifest" href="{% static '/js/manifest.json' %}">

    <title>Mis Perris-Index</title>
  </head>
  <body>
       <!-- barra de navegacion -->
       <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#6DCCAA">
        <a class="navbar-brand" href="#">
            <img src="{% static '/img/logo.png' %}" alt="" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/formulario">formulario</a>
            </li>
          </ul>
        </div>
      </nav>
      <div>
          <img class="d-block w-100" src="{% static '/img/perro.png' %}" alt="perro">
      </div>







      <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/app.js' %}" ></script>
  </body>
</html>